h1 {
  font-weight: bold;
}

.top-buffer { margin-top: 20px; }

.posting.body {
  font-size: 1.2em;
}

/* .cancel-display {
  display: block !important;
} */

.paper.attribute {
  font-weight: bold;
}

.paper.detail {
  color: grey;
}

.paper.author {
  font-weight: bold;
}

.paper.title {
  font-weight: bold;
}

.text-big {
  font-weight: bold;
  font-size: 23px;
}

.vcenter {
  display: flex;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  /* display: flex; */
  align-items: center;
  justify-content: center; 
}

.top-buffer { margin-top: 20px; }

.blank-row {
  height: 30px;
}

.papers_table {
  border-collapse: separate !important;
}

.papers_table > tr > td{
  border: 2px solid gray;
}

.query-bar {
  background-color: #eeeeee;
  padding: 5px 5px 5px 5px;
}

footer {
  padding-top:  0.5in;
  padding-left: 1.5in;
  font-size: 11px;
  color: rgb(100, 100, 100);
}
