---
http_interactions:
- request:
    method: get
    uri: http://api.semanticscholar.org/v1/paper/10.1162/089120103321337421
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"arxivId":null,"authors":[{"authorId":"2002316","name":"Franz Josef
        Och","url":"https://www.semanticscholar.org/author/2002316"},{"authorId":"1685956","name":"Hermann
        Ney","url":"https://www.semanticscholar.org/author/1685956"}],"citationVelocity":232,"citations":[{"arxivId":null,"authors":[{"authorId":"48207276","name":"Liang
        Zhou","url":"https://www.semanticscholar.org/author/48207276"},{"authorId":"1781574","name":"Chin-Yew
        Lin","url":"https://www.semanticscholar.org/author/1781574"},{"authorId":"2542900","name":"Dragos
        Stefan Munteanu","url":"https://www.semanticscholar.org/author/2542900"},{"authorId":"1694075","name":"Eduard
        H. Hovy","url":"https://www.semanticscholar.org/author/1694075"}],"doi":null,"isInfluential":false,"paperId":"00dd8547268ebdffca0a9c91f67cf00de70e520d","title":"ParaEval:
        Using Paraphrases to Evaluate Summaries Automatically","url":"https://www.semanticscholar.org/paper/00dd8547268ebdffca0a9c91f67cf00de70e520d","venue":"HLT-NAACL","year":2006},{"arxivId":null,"authors":[{"authorId":"3139898","name":"Lieve
        Macken","url":"https://www.semanticscholar.org/author/3139898"}],"doi":null,"isInfluential":true,"paperId":"0ba6ece71191afcb8b93e8715cc052205d0152d9","title":"An
        Annotation Scheme and Gold Standard for Dutch-English Word Alignment","url":"https://www.semanticscholar.org/paper/0ba6ece71191afcb8b93e8715cc052205d0152d9","venue":"LREC","year":2010},{"arxivId":null,"authors":[{"authorId":"2450694","name":"Aaron
     [...]
- request:
    method: get
    uri: https://api.labs.cognitive.microsoft.com/academic/v1.0/evaluate?attributes=Id,Ti,AA.AuN,Y,D,F.FN,E,RId&expr=Id=2118428193&model=latest&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<MS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJleHByIjoiSWQ9MjExODQyODE5MyIsImVudGl0aWVzIjpbeyJsb2dwcm9iIjotMTQuMzU3LCJrZXNFbnRpdHlJZCI6MjMwNTI2LCJJZCI6MjExODQyODE5MywiVGkiOiJjaG9yZCBhIHNjYWxhYmxlIHBlZXIgdG8gcGVlciBsb29rdXAgcHJvdG9jb2wgZm9yIGludGVybmV0IGFwcGxpY2F0aW9ucyIsIlkiOjIwMDMsIkQiOiIyMDAzLTAyLTAxIiwiUklkIjpbMjE1ODA0OTgyMSwyMTYzMDU5MTkwLDIxNjc4OTg0[...]
- request:
    method: get
    uri: https://api.labs.cognitive.microsoft.com/academic/v1.0/evaluate?attributes=Id,Ti,AA.AuN,Y,D,F.FN,E,RId,CC&count=100&expr=Or(Id=2158049821,%20Id=2158049821,%20Id=2163059190,%20Id=2167898414,%20Id=1650675509,%20Id=2104210894,%20Id=2174507869,%20Id=2164192722,%20Id=2144553078,%20Id=2150676586,%20Id=1663493649,%20Id=1584635459,%20Id=2020765652,%20Id=2000876023,%20Id=79931031,%20Id=2120626294,%20Id=2168886131,%20Id=105601597,%20Id=74449473,%20Id=2064360543,%20Id=95[...]
